#menu{
	height: 45px;
	background: black;
}
#menu>ul>li{
	list-style: none;
	display: inline-block;
	line-height: 45px;
}
#menu>ul{
	padding-left: 0;
}
.item>a{
	text-decoration: none;
	color: red;
	padding-left: 10px;
}
	#menu>ul>li:first-child{
		display: none;
	}

	@media (max-width:740px ){

		#menu>ul> div >.item{
			display: none;
		}
		
		#menu>ul> .item:first-child{
			display: inline-block;
		}
		
		#menu>ul .item:first-child:hover~.item{
			float: none;
			display: block;
		}
		
	}